<img src="@imgUrl" alt="Search Movie" />
<p><a href="@hdUrl">HD Image</a></p>
<p>Copyrights by:@copyright</p>

@code{

 [Parameter]
    public string imgUrl {get;set;}

     [Parameter]
    public string hdUrl {get;set;}

     [Parameter]
    public string copyright {get;set;}


}